/* Positioning */

/* Box-model */

/* Typography */

/* Visual */

/* Misc */

body {
  padding-top: 20px;
  min-width: 500px;
}

.navbar .navbar-brand img,
.navbar .user-profile-picture {
  display: inline-block;
	width: 20px;
	height: 20px;
}

.table-moe-pages .page-carousel-image-small {
  height: 45px;
}

.table-moe-pages tbody tr  {
  height: 61px;
}

.table-moe-pages tbody tr td {
  vertical-align: middle !important;
}

.table-moe-pages .table-actions {
  text-align: center;
}

.table-moe-pages .table-actions i {
  cursor: pointer;
}

.table-moe-pages .table-actions i:nth-child(0n+2) {
  margin-left: 15px;
}


/* Image Preview Container Stuff ******************************************************************/
.preview-image-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1060;
  padding: 75px;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.show-preview-image .preview-image-container{
  display: block;
}

.img-preview {
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
  
  max-width: 85%;
  max-height: 85%;
  
}