* {
 transition: all 1000ms ease-out;
 -webkit-transition: all 1000ms ease-out;
}

@media screen and (max-height: 900px) {

  .main-inner {
    min-width: 100vw!important;
    max-width: 100vw!important;
    min-height: calc( 100vh - 50px )!important;
    max-height: calc( 100vh - 50px )!important;
    margin: 0!important;
    top:0!important;
    background: rgba(106,35,0,.4)!important;
    overflow-y: auto;
    border-radius: 0px!important;
  }

}


/* @media screen and (max-width: 850px) {

  .main-inner {
    min-width: 100vw!important;
    max-width: 100vw!important;
    min-height: calc( 100vh - 175px )!important;
    max-height: calc( 100vh - 175px )!important;
    margin: 0!important;
    background: rgba(106,35,0,.2)!important;
    overflow-y: auto;
  }

} */
